﻿@model List<PlanetsData.Models.Planet>

<div id="planet-carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
    <ol class="carousel-indicators">

        @foreach (var planet in Model)
        {
            <li data-target="#planet-carousel" data-slide-to="@(planet.PlanetId - 1)" class="@(planet.PlanetId == 1 ? "active" : "") min-planet min-@(planet.Name.ToLower())"></li>
        }

    </ol>
    <div class="carousel-inner" role="listbox">

        @foreach (var planet in Model)
        {
            <div class="item @(planet.PlanetId == 1 ? "active" : "")" style="margin: auto">
                <img src="~/images/@(planet.Name).jpg" alt="@planet.Name" class="img-responsive" style="width: 100%; height: 600px"/>
                <div class="carousel-caption" role="option">
                    <button type="button" onclick="dt.getPlanetDetail(this, @planet.PlanetId, '@planet.Name')" data-toggle="modal" data-target="#detail-popup" class="btn btn-info btn-sm">Details</button>
                    <h2 class="planet-caption">@planet.Name</h2>
                </div>
            </div>
        }

    </div>
    <a class="left carousel-control" href="#planet-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#planet-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
