﻿@model PlanetsData.Models.Planet

<div class="panel panel-default" style="background-image: url('../images/@(Model.Name).jpg'); background-position: center">
    <div class="panel-body">

        <p>Mass: @Model.Mass (10^24kg)</p>
        <p>Diameter: @Model.Diameter (miles)</p>
        <p>Distance From Sun: @Model.DistanceFromSun (thousands of miles)</p>
        <p>Gravity: @Model.Gravity (m/s^2)</p>
        <p>Length Of Day: @Model.LengthOfDay (hours)</p>
        <p>Number Of Moons: @Model.NumberOfMoons</p>

    </div>
</div>