﻿@model PlanetsData.Models.Planet

<form>

    <input data-edit-field="PlanetId" class="form-control" type="hidden" value="@Model.PlanetId"/>
    <input data-edit-field="Name" class="form-control" type="hidden" value="@Model.Name" />

    <div class="row">
        <div class="col-sm-5 form-label-container">
            <label for="input-mass" class="form-label">Mass</label>
        </div>
        <div class="col-sm-7">
            <input data-edit-field="Mass" class="form-control" type="number" min="0" value="@Model.Mass" id="input-mass">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5 form-label-container">
            <label for="input-diameter" class="form-label">Diameter</label>
        </div>
        <div class="col-sm-7">
            <input data-edit-field="Diameter" class="form-control" type="number" min="0" value="@Model.Diameter" id="input-diameter">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5 form-label-container">
            <label for="input-distance" class="form-label">Distance From Sun</label>
        </div>
        <div class="col-sm-7">
            <input data-edit-field="DistanceFromSun" class="form-control" type="number" min="0" value="@Model.DistanceFromSun" id="input-distance">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5 form-label-container">
            <label for="input-gravity" class="form-label">Gravity</label>
        </div>
        <div class="col-sm-7">
            <input data-edit-field="Gravity" class="form-control" type="number" min="0" value="@Model.Gravity" id="input-gravity">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5 form-label-container">
            <label for="input-length-of-day" class="form-label">Length Of Day</label>
        </div>
        <div class="col-sm-7">
            <input data-edit-field="LengthOfDay" class="form-control" type="number" min="0" value="@Model.LengthOfDay" id="input-length-of-day">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5 form-label-container">
            <label for="input-moons" class="form-label">Number of Moons</label>
        </div>
        <div class="col-sm-7">
            <input data-edit-field="NumberOfMoons" class="form-control" type="number" min="0" value="@Model.NumberOfMoons" id="input-moons">
        </div>
    </div>

</form>