﻿@model List<PlanetsData.Models.Planet>

<div class="panel panel-default">

    <div class="panel-body">

        <h4>Planets</h4>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Mass (10^24kg)</th>
                    <th scope="col">Diameter (miles)</th>
                    <th scope="col">Distance From Sun (thousands of miles)</th>
                    <th scope="col">Gravity (m/s^2)</th>
                    <th scope="col">Length Of Day (hours)</th>
                    <th scope="col">Number Of Moons</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var planet in Model)
                {
                    <tr>
                        <th scope="row">@planet.Name</th>
                        <td>@planet.Mass</td>
                        <td>@planet.Diameter</td>
                        <td>@planet.DistanceFromSun</td>
                        <td>@planet.Gravity</td>
                        <td>@planet.LengthOfDay</td>
                        <td>@planet.NumberOfMoons</td>
                        <td>
                            <button type="button" onclick="dt.getPlanetDetail(this, @planet.PlanetId, '@planet.Name')" data-toggle="modal" data-target="#detail-popup" class="btn btn-info btn-sm">Details</button>
                        </td>
                        <td>
                            <button type="button" onclick="dt.editPlanetDetail(this, @planet.PlanetId, '@planet.Name')" data-toggle="modal" data-target="#edit-popup" class="btn btn-info btn-sm">Edit</button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>

</div>