﻿@model List<PlanetsData.Models.Planet>

<div class="panel panel-default tab-1">
    <div class="panel-body">
        @{
            Html.RenderPartial("~/views/Shared/Planets/_Grid.cshtml", Model);
        }
    </div>
</div>

<div class="panel panel-default tab-2">
    <div class="panel-body">
        @{
            Html.RenderPartial("~/views/Shared/Planets/_Carousel.cshtml", Model);
        }
    </div>
</div>

