﻿@{
    ViewData["Title"] = "Planets Web App";
}

<link rel="stylesheet" href="~/css/planet.css" />
<link rel="stylesheet" href="~/css/bootstrap-overrides.css" />

<br />

<div class="panel panel-default">

    <div class="panel-body api-status-container">
        <button type="button" onclick="dt.callAPI(this)" class="btn btn-primary btn-sm">Check API connection</button>
        <label class="api-status-label"></label>
    </div>

</div>

<div class="panel panel-default">

    <div class="panel-body">
        <button type="button" onclick="dt.getPlanets(this)" class="btn btn-primary btn-sm">Get Planets</button>
        <button type="button" onclick="dt.resetPlanets(this)" class="btn btn-primary btn-sm">Reset Planets</button>
    </div>

</div>

<ul class="nav nav-tabs">
    <li role="presentation" data-tab-id="1" class="active tab-grid">
        <a class="tab-link-1" onclick="dt.selectTab(this)">Grid</a>
    </li>
    <li role="presentation" data-tab-id="2" class="tab-carousel">
        <a class="tab-link-2" onclick="dt.selectTab(this)">Carousel</a>
    </li>
</ul>

<div class="panel panel-default">
    <div class="panel-body">
        <div id="planet-container"></div>
    </div>
</div>

@Html.Partial("_DetailPopup")
@Html.Partial("_EditPopup")

@section Scripts {

    <script src="~/js/planet.js" type="text/javascript"></script>
    <script>

        var dt = new dt.ss(); // in planet.js

    </script>
}
