﻿.planet-caption {
    margin-bottom: 35px;
}

.min-planet {
    border: none !important;
}

.min-planet.active {
    box-shadow: 0 0 5pt 2pt white;
}

.min-mercury {
    width: 10px !important;
    height: 10px !important;
    border-radius: 5px !important;
    background-color: #CBCBFD !important;
    background-image: linear-gradient(-25deg, #9a9ac3, #CBCBFD, #CBCBFD, silver);
}

.min-venus {
    width: 14px !important;
    height: 14px !important;
    border-radius: 7px !important;
    background-color: #FF761D !important;
    background-image: linear-gradient(-25deg, #c85911, #FF761D, #FF761D, silver);
}

.min-earth {
    width: 18px !important;
    height: 18px !important;
    border-radius: 9px !important;
    background-color: #3454DF !important;
    background-image: linear-gradient(-25deg, #263faa, #3454DF, #3454DF, silver);
}

.min-mars {
    width: 18px !important;
    height: 18px !important;
    border-radius: 9px !important;
    background-color: #f7550e !important;
    background-image: linear-gradient(-25deg, #b73c06, #f7550e, #f7550e, silver);
}

.min-jupiter {
    width: 40px !important;
    height: 40px !important;
    border-radius: 20px !important;
    background-color: #C1844D !important;
    background-image: linear-gradient(-25deg, #835327, #C1844D, #C1844D, silver);
}

.min-saturn {
    width: 36px !important;
    height: 36px !important;
    border-radius: 18px !important;
    background-color: #F9DBB7 !important;
    background-image: linear-gradient(-25deg, #c1a788, #F9DBB7, #F9DBB7, silver);
}

.min-saturn:before {
    content: " ";
    height: 4px;
    width: 150%;
    position: relative;
    background-color: white;
    left: -25%;
    top: 50%;
    transform: translate(0, -50%) rotate(-25deg);
}

.min-uranus {
    width: 30px !important;
    height: 30px !important;
    border-radius: 15px !important;
    background-color: #7BDEFC !important;
    background-image: linear-gradient(-25deg, #56a3ba, #7BDEFC, #7BDEFC, silver);
}

.min-neptune {
    width: 30px !important;
    height: 30px !important;
    border-radius: 15px !important;
    background-color: #537CFE !important;
    background-image: linear-gradient(-25deg, #3852a5, #537CFE, #537CFE, silver);
}

.min-pluto {
    width: 6px !important;
    height: 6px !important;
    border-radius: 3px !important;
    background-color: #E9E8D2 !important;
    background-image: linear-gradient(-25deg, #a8a795, #E9E8D2, #E9E8D2, silver);
}

.tab-2 {
    display: none;
}

.form-label-container {
    text-align: right;
    padding-top: 6px;
}

.form-label {
    color: black;
}
