﻿<div class="modal" id="detail-popup" tabindex="-1" role="dialog" aria-labelledby="detail-popup-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4 detail-popup-title" id="popup-title">Title</h5>
            </div>
            <div class="modal-body">
                <div class="detail-popup-content" style="color: white">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
