﻿<div class="modal" id="edit-popup" tabindex="-1" role="dialog" aria-labelledby="edit-popup-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="width: 400px">
            <div class="modal-header">
                <h5 class="modal-title h4 edit-popup-title" id="popup-title">Edit Planet Detail</h5>
            </div>
            <div class="modal-body">
                <div class="edit-popup-content" style="color: white">
                    
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="alert alert-success" role="alert">Planet saved successfully!</div>
                    </div>
                    <div class="col-sm-5">
                        <button type="button" class="btn btn-success btn-sm" onclick="dt.saveDetail(this)">Save</button>
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
